h1{
    text-align: center;
    color: rgb(255, 93, 255);
    background-color: black;
}
.firstPoint{
    float: left;
    padding-left: 50px;
    background: blue;
    text-align: center;
}
.secondPoint{
    float: right;
    padding-right: 50px;
    background: yellow;
    text-align: center;
}